@charset "utf-8";

*{
  box-sizing: border-box;
}


img {
  width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.line {
  display: none;
}

.drawer {
  display: none;
}

.in {
  transform: translateX(100%);
}

/*  ヘッダー header  */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 70px;
  background: #fff;
}

.header__list--link:hover {
  opacity: 0.7;
}

.header__img {
  width: 70px;
}

.header__img:hover {
  opacity: 0.7;
}


.header__list {
  display: flex;
  line-height: 70px;
}

.header__list li {
  list-style: none;
  margin: 15px 20px 0 0;
}

 .header__list li:last-of-type {
  margin-right: none;
} 

.header__list a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
  display: block;
}
/* メイン main */

.main {
    height: 500px;
    background: url(../img/mv.png) no-repeat center/cover;
}

.main__text {
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding-top: 200px;
}

.main__text--sub {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-top: 10px;
}

/* 株式会社TECHの想い　tech */
 
.tech {
  background: rgb(43, 39, 39);
  color: #fff;
  padding-bottom: 80px;
}

.tech__text {
  font-size: 35px;
  font-weight: bold;
  padding: 80px 0 20px 0;
}

.tech__text--sub {
  line-height: 1.7;
}

/* サービス service */

.service__item {
  width: 100%;
}

.service__item--img {
  margin-bottom: 10px;
}

.service__text {
  margin: 10px 0;
  font-weight: bold;
  font-size: 18px;
}

.service-main {
  text-align: center;
  margin: 100px 0 30px 0;
  font-size: 30px;
}

.service {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 400px 400px;
  gap: 40px;
}

.service__btn {
  width: 250px;
  height: 50px;
  font-weight: bold;
  text-align: center;
  background: rgb(241, 39, 39);
  color: #fff;
  display: block;
  margin: 100px auto 0;
  text-decoration: none;
  padding: 15px 20px;
}

.service__btn:hover {
  opacity: 0.7;
}

/*  ニュース news */

.news {
  background: rgb(43, 39, 39);
  color: #fff;
  margin: 100px 0;
  height: 500px;
}

.news__content {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  margin: 0 25px;
}

.news__content--btn {
  width: 170px;
  height: 35px;
  background: rgb(241, 39, 39);
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 35px;
  padding: 0 10px;
  font-weight: bold;
  margin-bottom: 30px;
}

.news__content--btn:hover {
  opacity: 0.7;
}

table {
  background: #fff;
  color: #000;
  display: block;
  margin-top: 50px;
}

table:hover {
  opacity: 0.7;
}

table, th {
  font-weight: normal;
}

table, td {
  font-weight: bold;
}
table, th td {
  margin: 10px 20px;
  padding: 20px;
}


/*  blog ブログ */

.blog__content {
  display: flex;
}

.blog__content--item {
  margin: 0 10px;
}

.blog {
  text-align: center;
  margin-bottom: 20px;
}

.blog__img--text {
  margin: 5px 0;
}

.blog__img:hover {
  opacity: 0.7;
}

.blog__btn {
  display: block;
  margin: 70px auto 70px;
  width: 280px;
  height: 45px;
  text-align: center;
  background: rgb(241, 39, 39);
  color: #fff;
  text-decoration: none;
  line-height: 45px;
  font-weight: bold;
}

.blog__btn:hover {
  opacity: 0.7;
}

/* campany recuruitment 会社概要　採用情報 */

.companyrecruitment {
  display: flex;
  height: 200px;
}

.company {
  width: 50%;
  background: rgb(241, 39, 39);
  display: block;
  text-align: center;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.company:hover {
  opacity: 0.7;
}

.company__text,
.recruitment__text {
  color: #fff;
  text-decoration: none;
}

.recruitment:hover {
  opacity: 0.7;
}

.recruitment {
  width: 50%;
  background: rgb(43, 39, 39);
  display: block;
  text-align: center;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}


/* フォーム form */

.form {
  background: rgb(241, 247, 255);
  text-align: center;
  margin-top: 70px;
  height: 300px;
}

.form__text {
  padding: 50px 0 30px 0;
  font-weight: bold;
  font-size: 2rem;
}

.form__btn {
  width: 250px;
  height: 40px;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  color: #fff;
  padding: 0 20px;
  display: block;
  background: rgb(241, 39, 39);
  margin: 30px auto 0;
}

.form__btn:hover {
  opacity: 0.7;
}

/* フッター footer */


.footer {
  height: 50px;
  padding: 20px 0;
  background: rgb(43, 39, 39);
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__text {
  color: #fff;
}

.footer__nav--sub {
  display: flex;
}

.footer__text--sub:hover {
  opacity: 0.7;
}

.footer__nav--sub--main {
  list-style: none;
  color: #fff;
  margin-right: 10px;
  font-size: 12px;
}

.footer__nav--sub--main::after {
  content: "|";
  padding: 0 5px;
}

.footer__nav--sub--main:last-child::after {
  content: none;
}

.footer__text--sub {
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width:768px) {
  .wrapper {
     width: 90%; 
  }
  .line {
    display: inline-block;
    width: 33px;
    height: 30px;
    position: relative;
    z-index: 10;
  }
  .header__nav {
    display: none;
  } 
  .main__text {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    line-height: 1.6;
    width: 100%;
  }
  .main__text--sub {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    line-height: 1.4;
  }
  .line__top, .line__middle, .line__bottom {
    display: inline-block;
    width: 100%;
    height: 4px;
    background: #000;
    position: absolute;
    transition: 0.3s;
  }
  .line__top {
    top: 0;
  }
  .line__middle {
    top: 14px;
  }
  .line__bottom {
    bottom: 0;
  }

  .open span:nth-last-of-type(1) {
    top: 14px;
    transform: rotate(45deg);
  }

  .open span:nth-last-of-type(2) {
    opacity: 0;
  }

  .open span:nth-last-of-type(3) {
    top: 14px;
    transform: rotate(-45deg);
  }

  .drawer {
    display: block;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: -100%;
    background: #fff;
    transition: 1s;
  }
  .drawer__main {
    text-align: center;
    padding-top: 60px;
  }
  .drawer__main--list {
    margin-top: 40px;
  }
  .drawer__main--list a {
    text-decoration: none;
    color: darkblue;
  }
  .service {
    display: block;
  }
  .service__item{
    margin-bottom: 40px;
  }
  .blog__content--item {
    width: 100%;
  }
  .blog__content {
    display: block;
  }
  .tech__text--sub  {
    padding: 0 10px;
    line-height: 1.4;
  }
  .footer__nav--sub {
    margin-top: 15px;
    text-align: center;
    display: block;
    padding: 15px;
  }
  .footer__nav--sub--main {
    padding-top: 10px;
  }
  .footer__nav--sub--main::after {
    content: none;
  }
  .footer__content {
    display: block;
    text-align: center;
  }
  .footer {
    height: 300px;
  }
} 